@media (max-width: 1200px) {
    
}

/* lg */
@media (max-width: 992px) {
    .padding-bottom-200{
        padding-bottom: 300px;
    }
    .carousel-caption {
        position: absolute !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        right: 0% !important;
        left: 0% !important;
        text-align: center !important;
    }
    .txt-shadow{
        text-shadow: 2px 2px #000000;
    }
   .f-btn-icon-bg{
       position: static !important;
       margin-top: 10px !important;
       text-align: center !important;
       right: -36px !important;
       padding: 15px 16px 16px 19px !important;
       border-radius: 26px !important;
   }
   .copy-right{
    margin-left: 0 !important;
}

.w-s7-bottom {
    display: block !important;
    padding: 0px 0px !important;
}
.w-s7-bottom-text {
    display: unset !important;
    align-content: unset !important;
}
.w-s7-mbway {
    padding-left: 0px !important;
    padding: 10px !important;
}

.bottom-minus-180{
    bottom: -180px;
}

}

/* md */
@media (max-width: 768px) {
    
    .carousel-indicators.inv-s2-slider {
        left: calc(50% + 6px) !important;
        transform: translateX(-50%) !important;
    }
    .carousel-indicators.w-s4-slider{
        left: calc(50% + 6px) !important;
        transform: translateX(-50%) !important;  
    }
    .section-space{
        padding: 70px 0 !important;
    }
    .section-space-b{
        padding-bottom: 70px !important;
    }
    .mission-space-t{
        padding-top: 70px !important;
    }
    .mission-space-b{
        padding-bottom: 70px !important;
    }
    
    .minus-margin{
        margin-top: -180px !important;
    }
    .feature-section-space{
        padding-top: 120px !important;
        padding-bottom: 120px !important;
    }
    
    .investing-space-b{
        padding-bottom: 910px !important;
        }
    .carousel-indicators-b {
        position: absolute !important;
        right: 0 !important;
        bottom: -80px !important;
        left: 0 !important;
        z-index: 2 !important;
        display: flex !important;
        justify-content: center !important;
        padding: 0 !important;
        margin-right: 15% !important;
        margin-bottom: 1rem !important;
        margin-left: 15% !important;
        list-style: none !important;
    }
    
    .welcome-icon{
        width: 100px !important;
    }
    .pathway-icon{
        width: 190px !important;
    }
    .placing{
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%,calc(-50% - 20px)) !important;
    }
    .simulation-section {
        margin-top:40px !important;
    }
    
    
}
/* sm */
@media (max-width: 576px) {
    
    .font-size-sa{
        font-size: 14px !important;
    }
    .padding-bottom-55{
        padding-bottom: 45px !important;
    }
    .padding-top-55{
        padding-top: 45px !important;
    }
    .nav-right-log{
        width: 40px !important;
    }
    .logo{
        max-width: 230px !important;
        margin-left: -15px !important;
    }
    .profile-btn{
        padding: 10px 15px !important;
        font-size: 14px !important;
    }
    .font-size-32{
        font-size: 28px !important;
    }
    .font-size-22{
        font-size: 18px !important;
    }
    .font-size-25{
        font-size: 20px !important;
    }
    .font-size-28{
        font-size: 22px !important;
    }
    .font-size-18{
        font-size: 16px !important;
    }
    
}

